h1 {
  background-color: rgb(228, 36, 62);
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color: white;
}

h2 {
  background-color: rgb(34, 160, 64);
  color: white;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

div {
  background-color: rgb(11, 14, 200);
  color: white;
}
    
img {
  height: auto;
  width: 750px;
}

.hello {
  height: auto;
  width: 150px; 
}

.front {
  font-size: 16px;
  background-color: white;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
}

p {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

ol {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

ul {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}